.manage-students-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-input {
    color: black;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .student-form input {
    color: black;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button, .cancel-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .students-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .students-table th, .students-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .students-table th {
    background-color: #95a9fa;
}
  
  .edit-button {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-button {
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  