.manage-events-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-input {
    width: 50%;
    background-color: #d8e4fad8;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #858585;
    border-radius: 16px;
  }
  
  .event-form input, .event-form select, .event-form textarea {
    color: black;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button, .cancel-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .attend-button{
    background-color: rgb(58, 58, 131);
    height: 45px;
    width: 180px;
    font-weight: 500;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .events-table {
    background-color: #95a9fa;
    color: black;
    font-weight: 300;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .events-table th, .events-table td {
    border: 1px solid #fdfdfd;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    text-align: left;
  }

  .events-table td {
    text-align: center;
    color: black;
  }
  .events-table th {
    background-color: #1a973f;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

  
  .edit-button {
    background-color: #ffb507;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-button {
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  