.progress-tracker-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f900;
    border-radius: 8px;
}

.search-container input {
    color: black;
    width: 50%;
    background-color: #d8e4fad8;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #858585;
    border-radius: 16px;
}

.sort-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.students-table {
    background-color: #4caf4f80;
    color: black;
    width: 110%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: -40px;
}

.students-table th, .students-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.students-table th {
    background-color: #95a9fa;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.progress-fill {
    height: 100%;
    border-radius: 10px;
}

.progress-red {
    background-color: #ff4d4d;
}

.progress-orange {
    background-color: #ffa500;
}

.progress-yellow {
    background-color: #ffd700;
}

.progress-green {
    background-color: #4CAF50;
}

.progress-blue {
    background-color: #3b5998;
}
.download-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.download-container button {
    background-color: #0360c4; /* Primary Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.download-container button:hover {
    background-color: #01448b; /* Darker Blue */
}

/* Different color for PDF button */
.download-container button:nth-child(2) {
    background-color: #dc3545; /* Red for PDF */
}

.download-container button:nth-child(2):hover {
    background-color: #a71d2a; /* Darker Red */
}

.search-container select {
    color: black;
    padding: 8px;
    width: 170px;
    margin-top: 0px;
    margin-bottom: 10px; /* Adjust for better spacing */
    margin-left: 20px;  /* Adjust left margin as needed */
    margin-right: 20px; /* Space out from other elements */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block; /* Horizontal layout */
}

/* Optional: Add hover effect for the intake picker */
.search-container select:hover {
    border-color: #4CAF50; /* Change border color on hover */
}

/* Optional: Add focus style to intake picker */
.search-container select:focus {
    outline: none;
    border-color: #0360c4; /* Change border color when focused */
    box-shadow: 0 0 5px rgba(3, 96, 196, 0.5); /* Add subtle focus effect */
}